// # HSL color palletes
// ## Colors
// Resene Observatory
// $resene-observatory: hsl(172, 100%, 28%);
$resene-observatory-50: hsl(172, 100%, 95%);
$resene-observatory-100: hsl(172, 100%, 90%);
$resene-observatory-200: hsl(172, 100%, 80%);
$resene-observatory-300: hsl(172, 100%, 70%);
$resene-observatory-400: hsl(172, 100%, 60%);
$resene-observatory-500: hsl(172, 100%, 50%);
$resene-observatory-600: hsl(172, 100%, 40%);
$resene-observatory-700: hsl(172, 100%, 30%);
$resene-observatory-800: hsl(172, 100%, 20%);
$resene-observatory-900: hsl(172, 100%, 10%);

// Green
$green-50: hsl(120, 75%, 95%);
$green-100: hsl(120, 75%, 90%);
$green-200: hsl(120, 75%, 80%);
$green-300: hsl(120, 75%, 70%);
$green-400: hsl(120, 75%, 60%);
$green-500: hsl(120, 75%, 50%);
$green-600: hsl(120, 75%, 40%);
$green-700: hsl(120, 75%, 30%);
$green-800: hsl(120, 75%, 20%);
$green-900: hsl(120, 75%, 10%);

// Dark
$dark-50: hsl(0, 0%, 45%);
$dark-100: hsl(0, 0%, 40%);
$dark-200: hsl(0, 0%, 35%);
$dark-300: hsl(0, 0%, 30%);
$dark-400: hsl(0, 0%, 25%);
$dark-500: hsl(0, 0%, 20%);
$dark-600: hsl(0, 0%, 15%);
$dark-700: hsl(0, 0%, 10%);
$dark-800: hsl(0, 0%, 5%);
$dark-900: hsl(0, 0%, 0%);

// Light
$light-50: hsl(0, 0%, 55%);
$light-100: hsl(0, 0%, 60%);
$light-200: hsl(0, 0%, 65%);
$light-300: hsl(0, 0%, 70%);
$light-400: hsl(0, 0%, 75%);
$light-500: hsl(0, 0%, 80%);
$light-600: hsl(0, 0%, 85%);
$light-700: hsl(0, 0%, 90%);
$light-800: hsl(0, 0%, 95%);
$light-900: hsl(0, 0%, 100%);
